<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
        <button ng-click="increment('up')">Add Column</button>
        <button ng-click="increment('down')">Remove Column</button>
        <table class="table table-bordered">
          <tr>
            <th ng-repeat="col in cols | limitTo: colCount">{{col}}</th>
          </tr>
          <tr ng-repeat="row in data">
            <td ng-repeat="item in row | limitTo: colCount">{{item}}</td>
          </tr>
        </table>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="controller.js"></script>
</body>

</html>